<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.festin">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".activities.ActivityIntro"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode"/>

        <activity
            android:name=".activities.ActivityMarket"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.ActivityVendor"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.ActivityOrder"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.PopTheme" />

        <activity
            android:name=".activities.ActivityCountdown"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <service android:name=".Utils.CdtBroadcastService"/>

    </application>

</manifest>